html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color: white;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

.icon-text-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600 leading-none flex items-center gap-4;
  font-size: 0.9em;
}

p {
  text-indent: 1rem;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #858585;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #555555;
    border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(54, 54, 54);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.column-block {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

/* List add/remove animation */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-leave-active {
  display: none;
}

.tippy-box {
  @apply bg-white;
  @apply text-gray-800;
  @apply rounded-none rounded-b;
}

.dark .tippy-box {
  @apply bg-true-gray-700;
  @apply text-gray-200;
  @apply rounded-none rounded-b;
}

.tippy-content {
  @apply p-1;
}

select:invalid { color: rgb(134, 133, 133); }

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.linkList a {
  @apply text-teal-700 dark:text-teal-400 hover:(text-teal-500 underline) mr-2 inline-block;
}


/* Shaking animation */
.shake {
  animation: shake 1.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.slide-leave-active,
.slide-enter-active {
  @apply transition-transform;
  @apply ease-in-out;
  @apply duration-300;
}
.slide-enter-from {
  transform: translateX(-100%);
}
.slide-leave-to {
  transform: translateX(100%);
}

/* Card style */
.column-block {
  break-inside: avoid-column;
  page-break-inside: avoid;
}